.main {
    background-color: #FEEED6;
    color: #67656D;
    box-sizing: border-box;
    max-width: 850px;
    padding: 7px 12px 0;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.header {
    font-weight: normal;
    margin: 0;
    font-size: 32px;
}

.info {
    font-weight: normal;
    font-size: 19px;
}

.info > p {
    margin-top: 12px;
    margin-bottom: 0;
}

.content {
    text-indent: 18px;
    line-height: 1.5;
    text-align: justify;
    margin-top: 11px;
    font-size: 17px;
}

.content p {
    margin-top: 0;
    margin-bottom: 11px;
}

.blue-text {
    color: #378DB2;
    font-weight: bold;
}

.line-through {
    text-decoration: line-through;
}