.main {
    max-width: 860px;
    box-sizing: border-box;
    margin: 0 auto;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: left;
}

.employee-table th {
    background-color: #3498DB;
    border: 1px solid #CCC;
    color: #FFF;
    padding: 12px;
}

.employee-table td {
    background-color: #EEE;
    border: 1px solid #CCC;
    color: #000;
    padding: 12px;
}

.employee-table tbody tr:nth-child(even) td {
    background-color: #FFF;
}